<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">

<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">EMP-Table</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarTogglerDemo02"
			aria-controls="navbarTogglerDemo02" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="nav-link" href="get">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item active"><a class="nav-link" href="addEmp">AddEmp
				</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card">
					<div class="card-body">
						<h4 class="text-center text-dark">EMP-DETAILS</h4>
						<table class="table table-light">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">NAME</th>
									<th scope="col">AGE</th>
									<th scope="col">ACTION</th>
									
								</tr>
							</thead>
							<tbody>
								<tr th:each="employees:${Employees}">
									<td th:text="${employees.id}" />
									<td th:text="${employees.name}" />
									<td th:text="${employees.age}" />
									<td><a class="btn btn-sm btn-primary" th:href="@{/adak/edit/{id}(id=${employees.id})}">Edit</a> 
									<a class="btn btn-sm btn-danger" th:href="@{/adak/delete/{id}(id=${employees.id})}">Delete</a>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>